@use '../../utils' as *;

/*----------------------------------------*/
/*  3.5.5 Header Style 1
/*----------------------------------------*/
// Header top
.header-top-area.header-primary {
	padding: 11px 30px;
	border-bottom: 1px solid var(--bd-border-primary);
}
.header-top-left {
	display: flex;
	align-items: center;
	gap: 5px 30px;
	flex-wrap: wrap;
	justify-content: center;
	@media #{$xs} {
		gap: 5px 15px;
	}
}
.header {
	&-top {
		&-main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 5px 8px;
			@media #{$xs} {
				justify-content: center;
			}
		}
		&-left-item {
			span {
				margin-right: 6px;
				color: var(--bd-heading);
				@media #{$xs,$sm} {
					font-size: 14px;
				}
			}
			a {
				color: var(--bd-heading);
				@media #{$xs,$sm} {
					font-size: 14px;
				}
				&:hover {
					color: var(--bd-primary);
				}
			}
		  }
	}
}