@use "../utils" as *;

/*----------------------------------------*/
/*  2.2 Buttons
/*----------------------------------------*/

.btn-style {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bd-fw-medium);
  height: 56px;
  padding: 0 30px;
  gap: 8px;
}

// primary button
.bd-primary-btn {
  background-color: transparent;
  color: var(--bd-primary);
  border: 2px solid var(--bd-primary);
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 0 25px 0 25px;
  position: relative;
  z-index: 5;
  &-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--bd-primary);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover {
    color: var(--bd-white);
    border: 2px solid transparent;
    .bd-primary-btn-circle {
      width: 220px;
      height: 220px;
      opacity: 1;
      z-index: -1;
    }
    &.has-arrow {
      .bd-primary-btn-text {
        transform: translateX(12px);
      }
      .arrow-left {
        right: -25%;
      }
      .arrow-right {
        left: 25px;
      }
    }
  }
  &.is-bg {
    background-color: var(--bd-primary);
    color: var(--bd-white);
    .bd-primary-btn-circle {
      background-color: var(--bd-heading);
    }
    &:hover {
      background-color: var(--bd-heading);
      color: var(--bd-white);
      border-color: var(--bd-heading);
    }
  }
}
