@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1.1 banner Style 1
/*----------------------------------------*/

// Banner style
.banner {
	&__style-one {
		padding-top: 204px;
		padding-bottom: 164px;
		@media #{$xl,$lg,$md} {
			padding-top: 120px;
			padding-bottom: 100px;
		}
		@media #{$sm,$xs} {
			padding-top: 80px;
			padding-bottom: 80px;
		}
		@media #{$xxs} {
			padding-top: 65px;
			padding-bottom: 65px;
		}
	}
	&__overlay {
		position: relative;
		z-index: 5;
		&::before {
			position: absolute;
			content: "";
			height: 100%;
			width: 100%;
			background-color: var(--bd-heading);
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 0.9
		}
	}
	&__content {
		> {
			.description {
				color: rgba($white, $alpha: 0.7);
				max-width: 537px;
			}
			.btn__wrap {
				display: flex;
				align-items: center;
				gap: 20px;
				margin-top: 45px;
				flex-wrap: wrap;
				.client {
					&__thumb {
						display: flex;
						align-items: center;
						.thumb {
							width: 40px;
							height: 40px;
							min-height: 40px;
							border: 2px solid var(--bd-white);
							border-radius: 50%;
							&:not(:last-child) {
								margin-right: -20px;
							}
							&:last-child {
								position: relative;
								z-index: 5;
								&::before {
									position: absolute;
									content: "";
									height: 100%;
									width: 100%;
									top: 0;
									left: 0;
									background-color: rgba($primary, $alpha: 0.9);
									border-radius: 50%;
									z-index: 1;
								}
								&::after {
									position: absolute;
									content: "+";
									height: 100%;
									width: 100%;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									display: inline-flex;
									align-items: center;
									justify-content: center;
									font-size: 24px;
									z-index: 5;
									color: var(--bd-white);
								}
							}
							img {
								border-radius: 50%;
								height: 100%;
							}
						}
					}
					&__content {
						display: flex;
						align-items: center;
						gap: 10px;
						padding: 10px 10px;
						background: rgba(255, 255, 255, 0.11);
						border: 1px solid rgba(46, 46, 46, 0.21);
						border-radius: 30px;
						.description {
							color: var(--bd-white);
						}
					}
				}
			}
		}
	}
	&__title {
		color: var(--bd-white);
		font-size: 70px;
		margin-bottom: 30px;
		@media #{$xl} {
			font-size: 60px;
		}
		@media #{$lg} {
			font-size: 50px;
		}
		@media #{$md,$sm} {
			font-size: 44px;
		}
		@media #{$xs} {
			font-size: 44px;
		}
		@media #{$xxs} {
			font-size: 34px;
		}
	}
	&__thumb {
		position: absolute;
		top: 61px;
		right: 101px;
		@media #{$xxl} {
			right: 30px;
		}
		@media #{$xl,$lg} {
			width: 55%;
			right: 0;
		}
		@media #{$md} {
			right: 0;
			width: 50%;
		}
		@media #{$xs,$sm} {
			position: inherit;
		}
		// -webkit-mask-image: url(../images/banner/mask.png);
		// mask-image: url(../images/banner/mask.png);
		// -webkit-mask-repeat: no-repeat;
		// mask-repeat: no-repeat;
	}
	&__shapes {
		.shape-one {
			position: absolute;
			top: 20%;
			left: 3%;
			z-index: -1;
		}
		.shape-two {
			position: absolute;
			bottom: 20%;
			left: 8%;
			z-index: -1;
		}
		.shape-three {
			position: absolute;
			right: 23%;
			bottom: 115px;
			z-index: 1;
			-webkit-animation: bannerUpDown 1s infinite alternate;
			animation: bannerUpDown 1s infinite alternate;
			&::after {
				position: absolute;
				content: "";
				right: 20%;
				bottom: 20%;
				height: calc(100% + 58px);
				width: calc(100% + 64px);
				background: rgba(36, 36, 36, 0.81);
				border-radius: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}
		.shape-four {
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
			@media #{$xxl,$xl} {
				right: -50px;
			}
		}
	}
}