@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1.1 banner Style 1
/*----------------------------------------*/

// Banner style
.banner-overlay {
	position: relative;
	z-index: 5;
	&::after {
		position: absolute;
		content: "";
		height: 100%;
		width: 100%;
		background-color: var(--bd-heading);
		top: 0;
		left: 0;
		z-index: -1;
	}
}
.banner-one-navigation {
	.banner-pagination {
		position: absolute;
		z-index: 999;
		left: 0;
		right: 0;
		bottom: -150px;
		@media #{$xl} {
			bottom: -80px;
		}
		@media #{$lg,$md,$sm,$xs} {
			bottom: -50px;
		}
	}
	.banner-navigation-btn {
		@media #{$xxl,$xl,$lg,$md,$sm,$xs} {
			display: none;
		}
	}
}
.banner__content {
	.description {
		color: rgba($white, $alpha: 0.7);
	}
}
.banner__title {
    color: var(--bd-white);
    font-size: 70px;
    margin-bottom: 20px;
}
.btn__wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}
.client__thumb {
	display: flex;
	align-items: center;
	.thumb {
		width: 40px;
		height: 40px;
		min-height: 40px;
		img {
			border-radius: 50%;
			height: 100%;
		}
	}
}
.client__content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-style-one {
    padding-top: 204px;
    padding-bottom: 164px;
}