@use '../../utils' as *;

/*----------------------------------------*/
/*  4.4 category css
/*----------------------------------------*/
.category-item {
    &.style-one {
      position: relative;
      z-index: 5;
      text-align: center;
        .content {
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background: #000000;
                border-radius: 50%;
                width: 112px;
                height: 21px;
                filter: blur(18px);
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
            }
            padding: 97px 20px 25px;
            background: var(--bd-white);
            border-radius: 30px;
            position: relative;
            margin-top: -56px;
            z-index: -1;
            .title {
                font-size: 22px;
                text-transform: capitalize;
                a {
                  &:hover {
                    color: var(--bd-primary);
                  }
                }
            }
        }
    }
}
.category-slider-button-prev,
.category-slider-button-next{
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    left: -125px;
    z-index: 55;

}
.category-navigation {
    .category-slider-button-next {
        left: auto;
        right: -125px;
    }
}


// Navigation button
.prev-slide,
.next-slide {
  position: relative;
  width: 30px;
  height: 40px;
  font-size: 0;
  & span {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 1.8px;
    background: var(--bd-heading);
    font-size: 0;
    transition: all 0.25s;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0);
      width: 34px;
      height: 34px;
      border: 1px solid var(--bd-primary);
      border-radius: 50%;
      transition: transform 0.25s;
    }
  }
  & svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
  & path {
    fill: var(--bd-heading);
    transition: fill 0.25s;
  }
  &:hover {
    & span {
      width: 40px;
      background: var(--bd-primary);

      &:before {
        transform: translateY(-50%) scale(1);
      }
    }

    & path {
      fill: var(--bd-primary);
    }
  }
}
.prev-slide {
  & span {
    right: 0;
    & svg {
      left: 0;
    }
    &:before {
      left: -13px;
    }
  }
}
.next-slide {
  span {
    left: 0;
    svg {
      right: 0;
    }
    &:before {
      right: -13px;
    }
  }
}