@use '../../utils' as *;

/*----------------------------------------*/
/*  3.6.2 Main menu css
/*----------------------------------------*/
.main-menu {
    >ul {
      display: inline-flex;
  
      >li {
        &:hover {
          >a {
            color: var(--bd-white);
          }
  
          >ul {
            opacity: 1;
            pointer-events: all;
            left: 0px;
  
            &.dp-menu li {
              &:hover {
                >ul {
                  opacity: 1;
                  pointer-events: all;
                  left: 100%;
                }
              }
            }
          }
        }
      }
    }
  
    li {
      position: relative;
      list-style: none;
  
      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: var(--bd-white);
        padding: 42px 17px;
        display: inline-block;
        text-transform: capitalize;
      }
    }
  
  
  
    .dp-menu {
      background: var(--bd-heading);;
      padding: 18px 0px;
      width: 280px;
      position: absolute;
      left: 10px;
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      transition: all 0.5s;
      top: 100%;
  
      ul {
        background: var(--bd-heading);;
        padding: 18px 0px;
        width: 280px;
        position: absolute;
        left: calc(100% + 10px);
        top: 0;
        opacity: 0;
        z-index: 10;
        transition: all 0.5s;
      }
  
      li {
        position: relative;
        padding: 0 20px;
  
        &:hover {
          >a {
            color: var(--bd-white);
            letter-spacing: 0.5px;
          }
  
          >ul {
            opacity: 1;
            transform: none !important;
            pointer-events: all;
          }
        }
  
        a {
          font-size: 16px;
          font-weight: 500;
          color: #999999;
          padding: 12px;
          display: block;
          transition: all 0.5s;
          text-align: left;
          cursor: pointer;
        }
      }
    }
  
    .has-mega-menu {
      position: static;
  
  
    }
  
    li:has(ul) {
      >a {
        &:after {
          content: "\2b";
          font-family: var(--bd-ff-fontawesome);
          margin-left: 5px;
          font-weight: 500;
        }
      }
    }
  
    .mega-menu {
      background-color: var(--bd-heading);;
      padding: 30px 50px;
      width: 100%;
      position: absolute;
      left: -5px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 50px;
      justify-content: center;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      transition: all 0.5s;
      top: 80px;
  
  
      @media #{$xl} {
        column-gap: 30px;
      }
  
      li:has(ul) {
        >a {
          &:after {
            content: "";
          }
        }
      }
  
      li {
        a {
          font-size: 16px;
          font-weight: 500;
          color: #999999;
          padding: 12px;
          display: block;
          align-items: center;
          gap: 8px;
          background: var(--bd-heading);;
          border-radius: 8px;
          transition: all 0.3s;
  
          &:hover {
            color: var(--bd-white);
            letter-spacing: 0.5px;
          }
        }
      }
  
      .title {
        font-weight: 600;
        color: var(--bd-white);
        text-transform: uppercase;
        border-bottom: 1px solid #333337;
        padding-bottom: 20px;
        margin-bottom: 20px;
        pointer-events: none;
        border-radius: 0;
      }
    }
  
    .mega-style-2 {
      padding: 0 15%;
      gap: 0;
      grid-template-columns: repeat(2, 1fr);
  
      .title {
        height: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
        position: relative;
        overflow: visible;
        padding-left: 30px;
  
        &:after {
          position: absolute;
          content: "";
          width: 5000px;
          height: 1px;
          background-color: #333337;
          bottom: -1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
  
      >li {
        &:not(:first-child) {
          border-left: 1px solid #333337;
        }
      }
  
      ul {
        column-count: 2;
        position: relative;
        padding: 20px 0;
  
        &:after {
          position: absolute;
          content: "";
          width: 1px;
          height: 700px;
          background-color: #333337;
          top: 0;
          left: 50%;
          z-index: 1;
        }
  
        li {
  
          a {
            padding-left: 30px;
          }
        }
      }
    }
  
    .mega-style-3 {
      padding: 0 0 0 20px;
      gap: 0;
      grid-template-columns: repeat(3, 1fr);
  
      .title {
        height: 70px;
        padding-bottom: 0;
        margin-bottom: 0;
        position: relative;
        overflow: visible;
        padding-left: 30px;
  
        &:after {
          position: absolute;
          content: "";
          width: 5000px;
          height: 1px;
          background-color: #333337;
          bottom: -1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
  
      >li {
        &:not(:first-child) {
          border-left: 1px solid #333337;
        }
  
        &:last-child {
          border: none;
          width: 36vw;
  
          @media #{$xl} {
            width: 32vw;
          }
        }
      }
  
      ul {
        column-count: 2;
        position: relative;
        padding: 20px 0;
        column-gap: 0;
  
        &:after {
          position: absolute;
          content: "";
          width: 1px;
          height: 700px;
          background-color: #333337;
          top: 0;
          left: 50%;
          z-index: 1;
        }
  
        li {
          margin: 0 10px;
  
          a {
            padding-left: 20px;
          }
        }
      }
    }
  
    .mega-grid-6 {
      grid-template-columns: repeat(6, 1fr);
      gap: 0 30px;
    }
  
    .mega-grid-2 {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 60px;
    }
  
    .list-3-column {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
  
        @media #{$xl} {
          column-gap: 30px;
        }
      }
    }
  
    .span-first-item {
      ul {
        li:first-child {
          grid-column: 1 / -1;
          column-span: all;
        }
      }
    }
  
  
    .new {
      font-size: 10px;
      font-weight: 600;
      background: #FFA38E;
      color: var(--bd-heading);;
      padding: 5px 8px 3px;
      line-height: 1;
      display: inline-block;
      border-radius: 2px;
    }
  
    &-2 {
      @media #{$lg} {
        display: none;
      }
  
      li {
        display: inline-block;
        padding: 0 10px;
  
        a {
          display: block;
          font-weight: 500;
          font-size: 20px;
          line-height: 1.5;
          color: var(--bd-white);
          padding: 10px;
          text-transform: capitalize;
  
          &:hover {
            color: var(--bd-primary);
          }
  
          @media #{$xl} {
            padding: 5px 0;
          }
        }
      }
    }
  
    &-3 {
      li {
        display: inline-block;
        margin-right: 45px;
  
        @media #{$lg} {
          margin-right: 25px;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        a {
          color: var(--bd-white);
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
  
          &:hover {
            color: var(--bd-primary);
          }
        }
      }
    }
  
    &-4 {
      li {
        display: inline-block;
        margin-right: 50px;
  
        a {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5;
          color: var(--bd-white);
          text-transform: uppercase;
  
          &:hover {
            color: var(--bd-primary);
          }
        }
      }
    }
  
  
}
  
.mega-menu-thumb {
  width: 108%;
  aspect-ratio: 100/83;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

  @media #{$lg} {
    display: none;
  }

  &:after {
    position: absolute;
    content: "";
    width: 76%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(28, 29, 32, 0.00) 0%, #1C1D20 100%);
  }

  .laptop-view {
    width: 70%;
    aspect-ratio: 100/114;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    right: 70px;
    bottom: 0;
  }
}
  
.mega-menu-counter {
  &__item {
    text-align: center;
    display: inline-block;
    margin-top: 35%;
    margin-left: 17%;
    position: relative;

    @media #{$lg} {
      display: none;
    }
  }

  &__text {
    p {
      font-size: 30px;
      line-height: 28px;
      color: var(--bd-white);
      font-weight: 500;
    }
  }

  &__number {
    font-size: 150px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 24px;
    color: var(--bd-white);
    background: linear-gradient(136deg, #9479FF 0%, #FFA6D6 47.92%, #FFFCE3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
  
.menu-dark li a {
  color: #121212;
}

.main-menu-white li a {
  color: var(--bd-white);
}